@import url('https://fonts.googleapis.com/css?family=Lobster|Montez&display=swap');
body{
      margin: 0;
      padding: 0;
      font-family: 'Lobster', cursive;
      background-color: #34495e;
    }
    html {
  scroll-behavior: smooth;
}
    /* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
.a img { max-width: 100%; height: auto; }
.header{
     
      padding: 30px 10px;  
      justify-content: space-between;
      align-items: center;
}
.list_nav li a{
        transition: all 0.3s ease 0s;
        padding: 0 20px;
}
.list_nav li a:hover{
        padding: 9px 30px;
        background-color: rgba(0,136,169,1);
        border:none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
}
#slidy-container {
 	  padding-top: 20px;
	  width: 100%; 
	  overflow: hidden; 
	  margin: 0 auto;
}
.sec_two{
	background-color: #f4f4f8;
}
@keyframes anim{
            from{
                opacity: 0;
                transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
            }
            to{
                opacity: 1;
                transform: perspective(500px) translate3d(0, 0, 0);
            }
}
.anim{
	animation-name: anim;
	animation-duration: 2s;
}
.sec_four{
	background-color: #e7eff6;
	width: 100%;
	 
}
.a{
	background-color: #e6e6ea;
	border-radius: 25px;
	margin-left: 15px;
	margin-right: 15px;
}
.footer{
    margin-top: 50px; 
    background-color: #191919;
} 
